*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
/*Barra de Scroll*/
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #0fa5d3bd;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0fa5d3bd;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-bg: #111111;
    --color-text: #0fa5d3;
    --color-icons: #fff;
    --color-nav: #111111;
    --color-tex: #252525;
    --color-bbg: yellow;
    /* 
        --color-bg: rgb(204, 11, 11);
    --color-text: #0fa5d3;
    --color-icons: #000;
    --color-nav: rgb(143, 19, 19);
    --color-tex: #282929;
    --color-bbg: #1b1313;
    */
  }

  body.light-theme {
    --color-bg: #dadada;
    --color-text: #0fa5d3;
    --color-icons: #000;
    --color-nav: #dadada;
    --color-tex: #282929;
    --color-bbg: #1b1313;
  }
}

body {
  background-color: var(--color-bg);
}

h1 {
  color: var(--color-icons);
  text-align: center;
  margin-top: -440px;
  font-size: 60px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*body.dark-theme{
    --color-bg:rgb(12, 12, 12);
    --color-texto:#0fa5d3;
    --color-icons:#FFFFFF;
    --color-nav:rgb(blue);
    --color-ntex:#FFFFFF;
  }*/
  
  .navbar{
    background-color: var(--color-nav);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .navbar a{
    color: var(--color-icons);
    font-size: 30px;
    text-decoration: none;
  }

  .navbar span{
    color: var(--color-text);
  }
  
  .navbar button{
    background-color: white;
  }

.navbar> ul {
  color: var(--color-nav);
  max-width: 1140px;
  margin: auto;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  padding: 10px 15px;
}

.nav-link {
  color: var(--color-tex);
  font-size: 20px;
  letter-spacing: -0.35px;
  text-decoration: none;
}

.nav-link:hover {
  color: #0fa5d3;
  transition: 0.15s ease-out;
}

/*Parte del banner*/
.start{
  display: flex;
  background: url("/img/BNRV.png") no-repeat center;
  width: 100%;
  background-color: var(--color-bg);
  height: 90vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Century Gothic', sans-serif;
}

.start .max-width{
  width: 100%;
  display: flex;
}
.start .max-width .row{
  margin-right: 0;
}

.start .start-content{
  margin-top: 227px;
}

.start .start-content #text-1{
  color: var(--color-icons);
  font-size: 27px;
}
.start .start-content #text-2{
  color: var(--color-icons);
  font-size: 75px;
  /*font-weight: 600;*/
  margin-left: -3px;
}
.start .start-content #text-3{
  color: var(--color-icons);
  font-size: 40px;
  margin: 5px 0;
}
.start .start-content #text-3 span{
  color: #0fa5d3;
  font-weight: 500;
}

#text0 {
  color: var(--color-text);
  text-align: center;
  margin-top: -1px;
  font-size: 16px;
  text-transform: uppercase;
}

#text1 {
  color: var(--color-icons);
  text-align: center;
  margin-top: -10px;
  font-size: 16px;
}

#text2 {
  color: var(--color-icons);
  text-align: center;
  margin-top: -10px;
  font-size: 16px;
}

#text3 {
  color: var(--color-icons);
  text-align: center;
  margin-top: -10px;
  font-size: 16px;
}

#btnMO {
  color: var(--color-bbg);
  font-size: 26px;
  margin-left: 130px;
}

.fa-html5 {
  color: rgb(255, 115, 0);
}

.fa-css3-alt {
  color: rgb(12, 54, 240);
}

.fa-github {
  color: var(--color-icons);
}

.fa-js {
  color: yellow;
}

.fa-bootstrap {
  color: rgb(122, 0, 153);
}

#icons {
  text-align: center;
  font-size: 40px;
  letter-spacing: 6px;
}

.soy {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  font-size: 32px;
  padding-top: 4px;
  text-align: center;
}

.project__img {
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
}

.col-6-p {
  width: 50%;
  padding-right: 5px;
  padding-left: 45px;
}

.col-12-p {
  width: 50%;
  padding-right: 5px;
  padding-left: 695px;
  margin-top: -518px;
}

.col-1-p {
  width: 50%;
  padding-right: 5px;
  padding-left: 695px;
  margin-top: -528px;
}

.contenedor-col {
  color: var(--color-icons);
  /*background-color: #30364c;*/
  border-radius: 8px;
  margin: 15px 0;
  padding: 20px;
}
.contenedor-col > p {
  /* text-align: center; */
  margin: 0;
}


/*#social{
  background-color: #30364c;

}*/

.csocial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  letter-spacing: 24px;
}

.csocial > .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  margin-top: 120px;
}

.csocial > .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
}


footer {
  padding: 20px;
}

footer > p {
  color: var(--color-icons);
  font-size: 26px;
  text-align: center;
  margin-top: -220px;
}

.footer__link {
  color: var(--color-icons);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
